.de_menu {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
    justify-content: space-between;
}
.de-admin-form {
    display: flex;
    flex-direction: column;
}
.de-checkbox {
    height: 15px;
    width: 15px;
    border-radius: 1px;
}
.de-texarea {
    white-space: pre-wrap;
}
